@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
}

body {
    display: flex;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    color: #5f708a;
}

.sidebar {
    position: sticky;
    width: 30%;
    height: 100vh;
    background: #314a63;
    top: 0;
    left: 0;
}

.sidebar nav {
    font-size: 1em;
    /* padding: 1em 0 1em 1em; */
}

.sidebar nav ul {
    list-style: none;
    padding-left: 2vw;
}

.sidebar nav ul a li {
    color: #fff;
    position: relative;
    width: calc(100% - 1em);
    padding: 1em 0 1em 1em;
}

.sidebar nav ul a li:hover {
    color: #000;
    background: rgb(255 255 255);
    border-radius: 0.5em 0em 0em 0.5em;
}

.sidebar nav ul a li:hover::before {
    content: '';
    position: absolute;
    right: 0px;
    top: -1em;
    border-radius: 0em 0em 0.5em 0em;
    border: #314a63 0.5em solid;
    box-shadow: 0.5em 0.5em 0 0 rgb(255 255 255);
}

.sidebar nav ul a li:hover::after {
    content: '';
    position: absolute;
    right: 0px;
    bottom: -1em;
    border-radius: 0em 0.5em 0.5em 0em;
    border: #314a63 0.5em solid;
    box-shadow: 0.5em -0.5em 0 0 rgb(255 255 255);
}

.sidebar nav ul a {
    color: inherit;
    text-decoration: none;
}

.logo {
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
}

.logo img {
    width: 70%;
    position: relative;
    padding-right: 2vw;
}

.fa fa-sign-out {
    color: white;
}

.fa fa-sign-out:hover::after {
    color: black;
}

.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 5em;
    background: white;
}

table {
    --accent-color: #314a63;
    --text-color: slategray;
    --bgColorDarker: #ececec;
    --bgColorLighter: #fcfcfc;
    --insideBorderColor: lightgray;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid var(--accent-color);
    border-collapse: collapse;
    color: var(--text-color);
    table-layout: fixed;
}

table caption {
    margin: 1rem 0;
    color: slategray;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.055rem;
    text-align: center;
}

table thead tr {
    color: whitesmoke;
    background-color: var(--accent-color);
    font-size: 1rem;
}

table tbody tr {
    border: 1px solid var(--insideBorderColor);
    background-color: var(--bgColorDarker);
}

table tbody tr:nth-child(odd) {
    background-color: var(--bgColorLighter);
}

table th {
    letter-spacing: 0.075rem;
}

table th,
table td {
    padding: 0.75rem 1rem;
    font-weight: normal;
    text-align: left;
}

@media screen and (max-width: 768px) {
    table {
        border: none;
    }

    table caption {
        padding: 0.75rem 1rem;
        border-radius: 6px 6px 0 0;
        color: whitesmoke;
        font-size: 1.35rem;
        background-color: var(--accent-color);
    }

    table thead {
        position: absolute;
        width: 1px;
        height: 1px;
        clip: rect(0 0 0 0);
        overflow: hidden;
        font-weight: bold;
    }

    table tbody tr {
        margin-bottom: 2rem;
        display: block;
    }

    table td {
        font-size: 0.875rem;
        text-align: right;
        display: block;
    }

    table td:before {
        content: attr(data-label);
        font-size: 0.75rem;
        font-weight: 600;
        letter-spacing: 0.075rem;
        text-transform: uppercase;
        float: left;
        opacity: 0.5;
    }

    table td:not(:last-child) {
        border-bottom: 1px solid var(--insideBorderColor);
    }
}

button {
    background-color: #314a63;
    padding: 0.5rem 1.5rem;
    color: white;
    border-radius: 7px;
    border-color: transparent;
    font-size: larger;
}

.add {
    align-self: right;
    width: 20%;
}

button:hover {
    background-color: white;
    color: #314a63;
    border-radius: 7px;
    border-color: #314a63;
    transition-duration: 0.4s;
}

.form-popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    border: 3px solid #3b5065;
    border-radius: 7px;
    z-index: 9;
}

.form-container {
    border-radius: 7px;
    max-width: 400px;
    padding: 10px;
    background-color: white;
}

input, label, select {
    width: 60%;
    align-self: center;
    font-family: 'Poppins', sans-serif;
    color: #3b5065;
}

.form-container input[type=text], .form-container input[type=password], select {
    width: 95%;
    border: none;
    background: #f1f1f1;
    height: 4vh;
    padding-left: 1vw;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
    height: 4vh;
    padding-left: 1vw;
}

.cancel-btn {
    background-color: rgb(170, 38, 38);
    color: white;
    position: relative;
    right: 0;
}

.cancel-btn:hover {
    background-color: white;
    color: rgb(170, 38, 38);
    border-color: rgb(170, 38, 38);
}


@media screen and (max-width: 980px) {
    .fixedBody {
        position: fixed;
    }

    .sidebar {
        height: 93vh;
        position: sticky;
        top: 0;
    }

    .sidebar nav {
        font-size: 27px;
        /* padding: 1em 0 1em 1em; */
    }

    .logo img {
        width: 100%;
    }

    .container_customer {
        padding-left: 1vh;
        padding-right: 1vh;
    }

    .container_form_add {
        font-size: 27px;
    }

    .container_form_add input {
        font-size: 30px;
    }

    .edit_button {
        height: 3vh;
        font-size: 15px;
        padding: 0;
        width: 90%;
    }

}